@charset "UTF-8";
/* Палитра */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #555555;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.mb-title-left {
  margin-bottom: 44px;
}

.mb-title-right {
  margin-bottom: 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .title-tablet {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #303030;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}

.address {
  font-style: normal;
  color: #9da4bd;
}

.section {
  padding: 84px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 130px 0;
  }
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.subtitle::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  left: 0;
  top: 0;
  margin-right: 20px;
  background-color: #303030;
  /* flex-shrink: 0; */
}

@media screen and (max-width: 767px) {
  .subtitle-mobile-line-break {
    line-height: 1.91;
  }
}

.description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 1200px) {
  .description {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
}

.button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  padding: 12px 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #ff6c00;
  cursor: pointer;
}

.button-primary {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
}

.button-round {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  color: #303030;
  background-color: #ffffff;
}

.button-round:hover, .button-round:focus {
  color: #ff6c00;
  background-color: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input,
.form-comment {
  background: none;
  border: none;
  padding: 8px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.form-input:focus,
.form-comment:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
}

.form-input::-webkit-input-placeholder,
.form-comment::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-input:-ms-input-placeholder,
.form-comment:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-input::-ms-input-placeholder,
.form-comment::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-input::placeholder,
.form-comment::placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-input:focus::-webkit-input-placeholder,
.form-comment:focus::-webkit-input-placeholder {
  color: #ffffff;
}

.form-input:focus:-ms-input-placeholder,
.form-comment:focus:-ms-input-placeholder {
  color: #ffffff;
}

.form-input:focus::-ms-input-placeholder,
.form-comment:focus::-ms-input-placeholder {
  color: #ffffff;
}

.form-input:focus::placeholder,
.form-comment:focus::placeholder {
  color: #ffffff;
}

.form-comment {
  width: 100%;
  margin: 44px 0;
  resize: none;
  height: 90px;
}

.form-submit-btn {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.form-submit-btn {
  color: #ffffff;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #ff6c00;
  cursor: pointer;
}

.title-dark {
  margin-bottom: 20px;
}

.description-dark {
  -webkit-columns: #555555;
          columns: #555555;
  margin-bottom: 20px;
}

.button-primary-dark {
  color: #303030;
}

.button-primary-dark:hover, .button-primary-dark:focus {
  color: #ffffff;
}

.title-light {
  margin-bottom: 44px;
  color: #ffffff;
}

.subtitle-light {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.subtitle-light::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.subtitle-white {
  color: #ffffff;
}

.description-light {
  color: #9da4bd;
}

.modal-open-btn-light {
  color: #ffffff;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  /* z-index: 2; */
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--animation-time) var(--timing-function);
  transition: opacity var(--animation-time) var(--timing-function);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--animation-time) var(--timing-function);
  transition: -webkit-transform var(--animation-time) var(--timing-function);
  transition: transform var(--animation-time) var(--timing-function);
  transition: transform var(--animation-time) var(--timing-function), -webkit-transform var(--animation-time) var(--timing-function);
  /* z-index: ; */
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 50%;
  background: var(#ffffff);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* outline: none; */
  -webkit-transition: fill var(--animation-time) var(--timing-function);
  transition: fill var(--animation-time) var(--timing-function);
}

.modal-button:hover, .modal-button:focus {
  fill: #ff6c00;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.modal-form-input,
.modal-form-comment {
  display: block;
  width: 100%;
}

.modal-form label {
  margin-bottom: 4px;
}

.modal-form-submit-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 55px;
  cursor: pointer;
  -webkit-transform: opacity 250ms linear;
          transform: opacity 250ms linear;
}

.modal-form-submit-btn:hover {
  opacity: 0.8;
}

.input-wrapper {
  position: relative;
  display: block;
}

.label-checkbox {
  position: relative;
  padding-left: 10px;
}

.checkbox-text::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  outline: 1px solid #000000;
  background-origin: padding-box;
}

.modal-checkbox:checked + .checkbox-text::before {
  background-color: blue;
  border: 4px solid #ffffff;
}

.modal-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.top-left .networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.top-left .networks-list .social-network:not(last-child),
.footer-networks-list .social-network:not(last-child) {
  margin-right: 40px;
}

.networks-list .link {
  color: inherit;
}

.networks-list::before,
.footer-networks-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  left: 0;
  top: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 40px;
  background-color: #303030;
}

.social-network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #303030;
}

.social-network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-network-link:not(last-child) {
  margin-right: 10px;
}

.social-network-link:hover .social-icon,
.social-network-link:focus .social-icon {
  fill: #ff6c00;
}

.logo {
  margin-right: 70px;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

@media screen and (max-width: 767px) {
  .logo-inverse {
    fill: #ffffff;
  }
}

.header {
  position: absolute;
  /* top: 0;
  left: 50%;
  transition: translate (-50%, 0); */
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list .menu-link:not(last-child) {
  margin-right: 40px;
}

.header .link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.header .link:hover, .header .link:focus {
  color: #ff6c00;
}

.header .address {
  margin-left: auto;
  margin-right: 50px;
}

.telephone {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.top-left {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-left {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100px;
    height: 680px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    padding-left: 27px;
    padding-bottom: 40px;
    color: #303030;
  }
}

@media screen and (max-width: 767px) {
  .top-right {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../../img/Slider-3-mobile.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../../img/Slider-3-mobile.jpg);
    background-repeat: no-repeat;
    height: 580px;
  }
}

@media screen and (min-width: 1200px) {
  .top-right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 272px;
    padding-right: 525px;
    padding-bottom: 206px;
    padding-left: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../../img/Slider-1.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../../img/Slider-1.jpg);
    background-repeat: no-repeat;
    width: 1125px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .top-right {
    background-image: url(../../img/Slider-3@2x.jpg);
  }
}

.main-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.67;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .main-title {
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images {
  margin-right: 30px;
}

@media screen and (min-width: 1200px) {
  .images {
    margin-right: 64px;
  }
}

.images-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .images-list {
    display: block;
  }
  .images-list .image {
    width: 100%;
    height: 50%;
  }
  .images-list .image:not(last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .images-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .images-list .image:not(last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    width: 50%;
  }
}

.description-about-us {
  margin-bottom: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (min-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .statistics {
    width: 450px;
    margin-left: auto;
  }
}

.statistic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 24px;
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
  height: 133px;
  background-color: #f7f7f7;
}

.statistic-item:not(:nth-child(2)) {
  margin-right: 30px;
}

.statistic-item:not(:nth-child(2)) {
  margin-bottom: 30px;
}

.statistic-item:nth-child(2n + 2) {
  margin-top: 30px;
}

.statistic-number {
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.statistic-more {
  position: absolute;
  top: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
}

.statistic-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.advantages-description {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .advantages-description {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-description {
    margin-bottom: 0;
  }
}

.services {
  background-color: #111319;
  background-image: url(../img/bg-services.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.service-prices {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .service-prices {
    padding: 30px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .service-prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.price-list {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 1200px) {
  .price-list {
    width: 50%;
    padding: 30px 40px;
  }
  .price-list-left {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price-list-right {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.our-masters {
  background-color: #f7f7f7;
}

@media screen and (min-width: 1200px) {
  .masters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.master-card {
  margin-bottom: 64px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 1200px) {
  .master-card {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.master-card .master-foto {
  margin-bottom: 30px;
}

.master-card .master-name {
  margin-bottom: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.master-card .master-specialization {
  margin-bottom: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

@media screen and (min-width: 768px) {
  .gallery-fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.gallery-foto {
  margin-bottom: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .gallery-foto {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-foto {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.contacts {
  background-color: #191c26;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-left,
.contacts-right {
  width: 50%;
}

.contacts-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input-name {
  width: 270px;
}

.form-input-tel {
  width: 260px;
}

.form-comment {
  width: 100%;
  resize: none;
  height: 90px;
}

.contacts-right {
  width: 50%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  padding: 130px 100px;
  background-image: url(../img/Bg-contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-link {
  color: #9da4bd;
}

.footer-contact-list .footer-contact:not(:last-child) {
  margin-bottom: 20px;
}

.footer-contact-list {
  margin-bottom: 70px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px;
}

.copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  padding-left: 27px;
  padding-bottom: 40px;
  color: #303030;
}
/*# sourceMappingURL=main.css.map */