@charset "UTF-8";
:root {
  --color-white: #ffffff;
  --color-orange: #ff6c00;
  --color-grey: #9da4bd;
  --color-transparent-grey: rgba(157, 164, 189, 0.6);
  --color-black: #303030;
  --color-second-black: #191c26;
  --color-dark-grey: #555555;
  --color-light-grey: #f7f7f7;
  --accent-color: var(--color-orange);
  --title-color: var(--color-black);
  --text-color: var(--color-dark-grey);
  --second-text-color: var(--color-grey);
  --background-color: var(--color-second-black);
  --second-background-color: var(--color-light-grey);
  --text-grey-transparent-color: var(--color-transparent-grey);
  --main-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  /* Анимация */
  --animation-time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*Отступы*/
  --margin-s: 20px;
  --margin-m: 30px;
  --margin-l: 40px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.67;
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.mb-title-left {
  margin-bottom: 44px;
}

.mb-title-right {
  margin-bottom: var(--margin-s);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
  text-align: left;
}

.title-tablet {
  font-size: 28px;
}

@media screen and (min-width: 1200px) {
  .title-tablet {
    font-size: 42px;
  }
}

.title-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title-center {
    text-align: start;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.address {
  font-style: normal;
  color: var(--second-text-color);
}

.section {
  padding: 84px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 130px 0;
  }
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--margin-s);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}

.subtitle::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  left: 0;
  top: 0;
  margin-right: var(--margin-s);
  background-color: var(--title-color);
}

@media screen and (max-width: 767px) {
  .subtitle-mobile-line-break {
    line-height: 1.91;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .description {
    font-size: 18px;
  }
}

.button {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: transparent;
  padding: 12px 20px;
  -webkit-transition: background-color var(--animation-time) var(--timing-function);
  transition: background-color var(--animation-time) var(--timing-function);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-primary {
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
}

.button-round {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  color: var(--title-color);
  background-color: var(--color-white);
}

.button-round:hover, .button-round:focus {
  color: var(--accent-color);
  background-color: var(--color-white);
}

.form-contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-contact-us .form-input,
.form-contact-us .form-comment {
  background: none;
  border: none;
  padding: 8px 0;
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--color-white);
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.form-contact-us .form-input:focus,
.form-contact-us .form-comment:focus {
  outline: none;
  border-bottom: 1px solid var(--color-white);
}

.form-contact-us .form-input::-webkit-input-placeholder,
.form-contact-us .form-comment::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-contact-us .form-input:-ms-input-placeholder,
.form-contact-us .form-comment:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-contact-us .form-input::-ms-input-placeholder,
.form-contact-us .form-comment::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-contact-us .form-input::placeholder,
.form-contact-us .form-comment::placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-contact-us .form-input:focus::-webkit-input-placeholder,
.form-contact-us .form-comment:focus::-webkit-input-placeholder {
  color: var(--color-white);
}

.form-contact-us .form-input:focus:-ms-input-placeholder,
.form-contact-us .form-comment:focus:-ms-input-placeholder {
  color: var(--color-white);
}

.form-contact-us .form-input:focus::-ms-input-placeholder,
.form-contact-us .form-comment:focus::-ms-input-placeholder {
  color: var(--color-white);
}

.form-contact-us .form-input:focus::placeholder,
.form-contact-us .form-comment:focus::placeholder {
  color: var(--color-white);
}

.form-contact-us .form-comment {
  width: 100%;
  resize: none;
  height: 90px;
}

.description-dark {
  -webkit-columns: var(--text-color);
          columns: var(--text-color);
  margin-bottom: var(--margin-s);
}

.button-primary-dark {
  color: var(--title-color);
}

.button-primary-dark:hover, .button-primary-dark:focus {
  color: var(--color-white);
}

.title-light {
  margin-bottom: 44px;
  color: var(--color-white);
}

.subtitle-light {
  margin-bottom: var(--margin-s);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-grey-transparent-color);
}

.subtitle-light::before {
  background-color: var(--text-grey-transparent-color);
}

.subtitle-white {
  color: var(--color-white);
}

.description-light {
  color: var(--second-text-color);
}

.modal-open-btn-light {
  color: var(--color-white);
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--animation-time) var(--timing-function);
  transition: opacity var(--animation-time) var(--timing-function);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--animation-time) var(--timing-function);
  transition: -webkit-transform var(--animation-time) var(--timing-function);
  transition: transform var(--animation-time) var(--timing-function);
  transition: transform var(--animation-time) var(--timing-function), -webkit-transform var(--animation-time) var(--timing-function);
  max-width: 450px;
  width: 100vw;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal-window {
    max-width: 528px;
  }
}

.modal-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 50%;
  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill var(--animation-time) var(--timing-function);
  transition: fill var(--animation-time) var(--timing-function);
}

.modal-button:hover, .modal-button:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.form-modal-input {
  letter-spacing: 0.01em;
  color: var(--title-color);
}

.form-modal-input .form-label .form-subtitle {
  font-size: 12px;
}

.form-modal-input .form-label .form-field {
  height: 40px;
  font-size: 14px;
  line-height: 1.14;
  background-color: transparent;
  color: var(--title-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  outline: none;
  padding: 11px 12px;
  -webkit-transition: border var(--animation-time) var(--timing-function);
  transition: border var(--animation-time) var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .form-modal-input .form-label .form-field {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form-modal-input .form-label .form-field.comment-field {
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
}

.form-modal-input .form-label .form-field.comment-field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-input .form-label .form-field.comment-field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-input .form-label .form-field.comment-field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-input .form-label .form-field.comment-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-input .form-label .form-field.form-accent:hover, .form-modal-input .form-label .form-field.form-accent:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.form-modal-input .form-modal-input {
  position: relative;
}

.form-modal-input .form-modal-input .form-label .form-icon {
  position: absolute;
  top: 55%;
  left: 12px;
  width: 18px;
  height: 18px;
  margin-right: 12px;
  -webkit-transition: color var(--animation-time) var(--timing-function);
  transition: color var(--animation-time) var(--timing-function);
}

.form-modal-input .form-modal-input .form-label .form-field {
  padding-left: 42px;
}

.form-modal-input .form-modal-input .form-accent:focus + .icon,
.form-modal-input .form-modal-input .form-accent:hover + .icon {
  color: var(--accent-color);
}

.form-agreement {
  margin-bottom: 31px;
}

@media screen and (min-width: 1200px) {
  .form-agreement {
    margin-bottom: var(--margin-m);
  }
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
    line-height: 1.71;
    height: 15px;
  }
}

.agreement-link {
  color: var(--accent-color);
}

.agree-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  -webkit-transition: border-color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function);
  transition: border-color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .checkbox-icon {
    margin-left: 12px;
  }
}

.agree-checkbox:focus + .checkbox-icon {
  border-color: var(--accent-color);
}

.agree-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.top-left .networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.top-left .networks-list .network-item:not(:last-child) {
  margin-right: var(--margin-l);
}

.networks-list .link {
  color: inherit;
}

.social-network:hover,
.social-network:focus {
  color: var(--accent-color);
}

.networks-list::before,
.mobile-network-list::before,
.footer-networks-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  left: 0;
  top: 0;
  margin-right: var(--margin-l);
  background-color: var(--title-color);
}

.social-network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--title-color);
}

.social-network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-network-link:not(:last-child) {
  margin-right: 10px;
}

.social-network-link:hover .social-icon,
.social-network-link:focus .social-icon {
  fill: var(--accent-color);
}

.logo {
  width: 69px;
  height: 56px;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

@media screen and (max-width: 767px) {
  .logo-inverse {
    fill: var(--color-white);
  }
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .header {
    top: 0;
    -webkit-transition: translate -50%, 0;
    transition: translate -50%, 0;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .menu-list {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header .menu-list {
    padding-top: 12px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header .menu-list {
    margin-left: var(--margin-l);
  }
}

.menu-list .menu-link:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .menu-list .menu-link:not(:last-child) {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu-list .menu-link:not(:last-child) {
    margin-right: var(--margin-l);
  }
}

.header .link {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

@media screen and (min-width: 768px) {
  .header .link {
    font-size: 12px;
  }
}

.header .link:hover, .header .link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header .link {
    color: var(--color-white);
  }
}

.mobile-network-list .network-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-network-list .network-item:last-child {
  margin-left: 100px;
}

.telephone {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-white);
}

.mobile-menu .mobile-network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 768px) {
  .mobile-menu .mobile-network-list {
    display: none;
  }
}

.mobile-network-list .network-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    min-height: 796px;
    width: 337px;
    background-color: var(--color-white);
    text-align: start;
    padding-top: 118px;
    padding-left: 40px;
    padding-right: 40px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .mobile-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.btn.menu-btn {
  background-color: transparent;
  border: transparent;
  z-index: 999;
  fill: var(--color-white);
}

.btn.menu-btn:hover, .btn.menu-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .btn.menu-btn {
    display: none;
  }
}

.btn.menu-btn.is-open .btn-close-menu {
  display: block;
  fill: var(--title-color);
}

.btn.menu-btn.is-open .btn-close-menu:hover, .btn.menu-btn.is-open .btn-close-menu:focus {
  fill: var(--accent-color);
}

.btn.menu-btn.is-open .btn-mobile-menu {
  display: none;
}

.btn-close-menu {
  display: none;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .mobile-menu .button-primary {
    color: var(--title-color);
    min-width: 194px;
  }
  .mobile-menu .button-primary:hover, .mobile-menu .button-primary:focus {
    color: var(--color-white);
  }
}

.header .mobile-network-list .link {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.header-contacts {
  margin-bottom: 64px;
}

.header-contacts .address {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .header-contacts .button {
    margin-bottom: var(--margin-s);
  }
  .header-contacts .address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-contacts .address {
    margin-right: var(--margin-l);
  }
  .header-contacts .button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header .link-logo {
    width: 69px;
    margin-right: var(--margin-l);
    margin-left: 11px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.form-modal {
  padding: 40px;
}

.form-modal .form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-modal .form-title {
  margin-bottom: 12px;
}

.form-modal .form-subtitle {
  margin-bottom: 4px;
}

.form-modal .form-modal-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-modal .form-modal-input:not(.form-comment) {
  margin-bottom: 10px;
}

.form-modal .form-modal-input.form-comment {
  margin-bottom: var(--margin-s);
}

.form-modal .form-field {
  padding-left: 42px;
  height: 40px;
}

.form-modal .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  background-color: var(--background-color);
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .top {
    background-color: var(--color-white);
    height: 680px;
  }
}

.top-slide-one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/bg-top-mobile-1.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bg-top-mobile-1.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .top-slide-one {
    background-image: url(../img/bg-top-mobile-1@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .top-slide-one {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/bg-top-tablet-1.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bg-top-tablet-1.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .top-slide-one {
    background-image: url(../img/bg-top-tablet-1@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .top-slide-one {
    background-position-x: right;
    background-image: url(../img/bg-top-desktop-1.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .top-slide-one {
    background-image: url(../img/bg-top-desktop-1@2x.jpg);
  }
}

.top-slide-two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/bg-top-mobile-2.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bg-top-mobile-2.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .top-slide-two {
    background-image: url(../img/bg-top-mobile-2@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .top-slide-two {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/bg-top-tablet-2.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bg-top-tablet-2.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .top-slide-two {
    background-image: url(../img/bg-top-tablet-2@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .top-slide-two {
    background-position-x: right;
    background-image: url(../img/bg-top-desktop-2.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .top-slide-two {
    background-image: url(../img/bg-top-desktop-2@2x.jpg);
  }
}

.top-slide-three {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/bg-top-mobile-3.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bg-top-mobile-3.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .top-slide-three {
    background-image: url(../img/bg-top-mobile-3@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .top-slide-three {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/bg-top-tablet-3.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bg-top-tablet-3.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .top-slide-three {
    background-image: url(../img/bg-top-tablet-3@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .top-slide-three {
    background-position-x: right;
    background-image: url(../img/bg-top-desktop-3.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .top-slide-three {
    background-image: url(../img/bg-top-desktop-3@2x.jpg);
  }
}

.top-content {
  height: 580px;
}

@media screen and (min-width: 768px) {
  .top-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 680px;
  }
}

.top-left {
  display: none;
  background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .top-left {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 120px;
    height: 680px;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 38px;
    color: var(--title-color);
  }
}

@media screen and (min-width: 1200px) {
  .top-left {
    padding-right: 58px;
  }
}

.top-right {
  padding-top: 215px;
  padding-left: 0;
}

@media screen and (min-width: 480px) {
  .top-right {
    width: 306px;
  }
}

@media screen and (min-width: 768px) {
  .top-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    height: 680px;
    width: 609px;
    padding-top: 272px;
    padding-left: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .top-right {
    padding-top: 272px;
    padding-left: 100px;
    background-position: center;
    background-size: cover;
    width: 1125px;
  }
}

.top-right-info-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .top-right-info {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.main-title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  color: var(--color-white);
  font-size: 40px;
}

@media screen and (min-width: 480px) {
  .main-title {
    font-size: 48px;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    margin-bottom: var(--margin-s);
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--color-white);
  }
}

.slider-navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 261px;
  }
}

.slider-navigation .slider-item {
  height: 2px;
  background-color: var(--second-text-color);
}

.slider-navigation .slider-item:not(:last-child) {
  margin-bottom: 12px;
}

.slider-navigation .slider-item.slider-nav-one {
  width: 18px;
}

.slider-navigation .slider-item.slider-nav-two, .slider-navigation .slider-item.slider-nav-three {
  width: 8px;
}

.nav-left-right {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-left-right {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: var(--text-grey-transparent-color);
  }
  .nav-left-right .nav-left {
    margin-right: 26px;
  }
  .nav-left-right .nav-right {
    text-align: end;
  }
  .nav-left-right .nav-left::after,
  .nav-left-right .nav-right::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    margin-top: 8px;
    background-color: var(--text-grey-transparent-color);
  }
}

.nav-left-right-active {
  color: var(--color-white);
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .images {
    margin-right: var(--margin-m);
  }
}

@media screen and (min-width: 1200px) {
  .images {
    margin-right: 64px;
  }
}

.images-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .images-list {
    display: block;
  }
  .images-list .image {
    width: 100%;
    height: 50%;
  }
  .images-list .image:not(:last-child) {
    margin-bottom: var(--margin-m);
  }
}

@media screen and (min-width: 1200px) {
  .images-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .images-list .image:not(:last-child) {
    margin-right: var(--margin-m);
    margin-bottom: 0;
  }
  .images-list .image {
    width: 100%;
    height: 445px;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    width: 500px;
  }
}

.description-about-us {
  margin-bottom: var(--margin-l);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .statistics {
    width: 450px;
    margin-left: auto;
  }
}

.statistic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 24px;
  -ms-flex-preferred-size: calc((100% - 2 * var(--margin-m)) / 2);
      flex-basis: calc((100% - 2 * var(--margin-m)) / 2);
  height: 133px;
  background-color: var(--second-background-color);
}

.statistic-item:not(:nth-child(2)) {
  margin-right: var(--margin-m);
}

.statistic-item:not(:nth-child(2)) {
  margin-bottom: var(--margin-m);
}

.statistic-item:nth-child(2n + 2) {
  margin-top: var(--margin-m);
}

.statistic-number {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.statistic-more {
  position: absolute;
  top: 5px;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-color);
}

.statistic-description {
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
}

.advantages-description {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .advantages-description {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-description {
    margin-bottom: 0;
  }
}

.services {
  background-color: #111319;
  background-image: url(../img/bg-services.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .services {
    background-image: url(../img/bg-services@2x.png);
  }
}

.service-prices {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .service-prices {
    padding: 30px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .service-prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.price-list {
  font-weight: 400;
  font-size: 18px;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .price-list {
    width: 50%;
    padding: 30px 40px;
  }
  .price-list-left {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price-list-right {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--margin-s);
}

.our-masters {
  background-color: var(--second-background-color);
}

@media screen and (min-width: 1200px) {
  .masters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-m));
    margin-bottom: calc(-1 * var(--margin-m));
  }
}

.master-card {
  margin-bottom: 64px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 1200px) {
  .master-card {
    -ms-flex-preferred-size: calc(100% / 3 - var(--margin-m));
        flex-basis: calc(100% / 3 - var(--margin-m));
    margin-left: var(--margin-m);
    margin-bottom: 0;
  }
}

.master-card .master-foto {
  margin-bottom: var(--margin-m);
}

.master-card .master-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--title-color);
}

.master-card .master-specialization {
  margin-bottom: var(--margin-m);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .gallery-fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-m));
    margin-bottom: calc(-1 * var(--margin-m));
  }
}

.gallery-foto {
  margin-bottom: var(--margin-m);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .gallery-foto {
    -ms-flex-preferred-size: calc(100% / 2 - var(--margin-m));
        flex-basis: calc(100% / 2 - var(--margin-m));
    margin-left: var(--margin-m);
  }
}

@media screen and (min-width: 1200px) {
  .gallery-foto {
    -ms-flex-preferred-size: calc(100% / 4 - var(--margin-m));
        flex-basis: calc(100% / 4 - var(--margin-m));
  }
}

.contact-us {
  background-color: var(--background-color);
}

@media screen and (min-width: 1200px) {
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-left {
  padding-bottom: 84px;
  padding-top: 84px;
}

@media screen and (min-width: 768px) {
  .contacts-left {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-left {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .form-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-input {
  width: 100%;
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .form-input {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .form-input-name {
    margin-right: var(--margin-m);
  }
}

@media screen and (min-width: 1200px) {
  .form-input-name {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .form-input-tel {
    width: 260px;
  }
}

.form-comment {
  width: 100%;
  resize: none;
  height: 90px;
}

.form-submit-btn {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .form-submit-btn {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contacts-right {
  background-image: url(../img/bg-contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 84px;
  padding-bottom: 84px;
  font-weight: 400;
  font-size: 18px;
  color: var(--second-text-color);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .contacts-right {
    background-image: url(../img/bg-contacts@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .contacts-right {
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-right {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 109px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-info {
    margin-right: var(--margin-m);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-info {
    margin-left: 0;
  }
}

.footer-link {
  color: var(--second-text-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link .icon {
  margin-right: 16px;
}

.footer-contact-list .footer-contact:not(:last-child) {
  margin-bottom: var(--margin-s);
}

.footer-contact-list {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .footer-contact-list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact-list {
    margin-bottom: 70px;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.copyright {
  font-size: 11px;
  line-height: 1.36;
  color: var(--second-text-color);
  padding-top: 79px;
}

@media screen and (min-width: 768px) {
  .copyright {
    padding-top: 0;
  }
}

.footer-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-color);
}

@media screen and (min-width: 480px) {
  .footer-networks-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-networks-list::before {
  margin-bottom: var(--margin-s);
}

@media screen and (min-width: 480px) {
  .footer-networks-list::before {
    margin-bottom: 0;
  }
}

.footer-networks-list .network-item:not(:last-child) {
  margin-bottom: var(--margin-s);
}

@media screen and (min-width: 480px) {
  .footer-networks-list .network-item:not(:last-child) {
    margin-right: var(--margin-l);
    margin-bottom: 0;
  }
}

.footer-networks-list .network-item:last-child {
  margin-left: 100px;
}

@media screen and (min-width: 480px) {
  .footer-networks-list .network-item:last-child {
    margin-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */