/*=== Общие ===*/
:root {
  /* Цвета */
  --color-white: #ffffff;
  --color-orange: #ff6c00;
  --color-grey: #9da4bd;
  --color-transparent-grey: rgba(157, 164, 189, 0.6);
  --color-black: #303030;
  --color-second-black: #191c26;
  --color-dark-grey: #555555;
  --color-light-grey: #f7f7f7;

  /* Переменные */

  /* Шрифты */

  --main-font-family: -- "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  /* Палитра */
}

/*=== /Общие ===*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.667;
  letter-spacing: 0.05em;
  color: #303030;
}

p {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.02em;
  color: #555555;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.address {
  font-style: normal;
}

.section {
  padding: 130px 0;
}

.modal-open-btn-light {
  color: #ffffff;
}

.modal-open-btn-dark {
  color: #303030;
}

/*=== Шапка сайта ===*/

.header {
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .menu {
  display: flex;
  align-items: center;
}

.header .menu-list {
  display: flex;
}

.menu-list .menu-link:not(last-child) {
  margin-right: 40px;
}

.header .link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header .link:hover,
.header .link:focus {
  color: #ff6c00;
}

.logo {
  margin-right: 70px;
}

.header .address {
  margin-left: auto;
  margin-right: 50px;
}

.telephone {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-open-btn {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: #ff6c00;
}

/*=== /Шапка сайта ===*/

/*=== Баннер ===*/
.top {
  background-color: blue;
}

.top .container {
  display: flex;
}

.top-left {
  width: 100px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.top-left .networks-list {
  display: flex;

  transform: rotateZ(-90deg);
}

.top-left .networks-list .social-network:not(last-child) {
  margin-right: 40px;
}

.networks-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.top-right {
  flex-grow: 1;
  padding-top: 272px;
  padding-right: 525;
  padding-bottom: 206px;
  padding-left: 100px;
}

/* .top-left .link {
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
} */

.networks-list .social-network:hover,
.networks-list .social-network:focus {
  color: #ff6c00;
}

/*=== /Баннер ===*/

.subtitle {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.description-light {
  color: #9da4bd;
}

.description-dark {
  color: #303030;
}

.top-right h1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.about .container {
  display: flex;
}

.about ul li {
  display: flex;
}

.about ul li:not(last-child) {
  margin-right: 30px;
}
