/*=== Общие ===*/
:root {
  /* Цвета */
  --color-white: #ffffff;
  --color-orange: #ff6c00;
  --color-grey: #9da4bd;
  --color-transparent-grey: rgba(157, 164, 189, 0.6);
  --color-black: #303030;
  --color-second-black: #191c26;
  --color-dark-grey: #555555;
  --color-light-grey: #f7f7f7;

  /* Переменные */

  /* Шрифты */

  --main-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  /* Палитра */
}

/*=== /Общие ===*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  color: #555555;
}

.icon {
  fill: currentColor;
}

.link {
  text-decoration: none;
  color: inherit;
  /* color: inherit; */
}

.list {
  list-style: none;
}

.mb-title-left {
  margin-bottom: 44px;
}

.mb-title-right {
  margin-bottom: 20px;
}

.title {
  /* margin-bottom: 20px;
  height: 98px; */
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
  text-align: left;
}

.title-dark {
  margin-bottom: 20px;
}

.title-light {
  margin-bottom: 44px;
  color: #ffffff;
}

/* p {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.02em;
  color: #555555;
} */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.address {
  font-style: normal;
}

.section {
  padding: 130px 0;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}
/*=== Шапка сайта ===*/

.header {
  position: absolute;
  /* top: 0;
  left: 50%;
  transition: translate (-50%, 0); */
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .menu {
  display: flex;
  align-items: center;
}

.header .menu-list {
  display: flex;
}

.menu-list .menu-link:not(last-child) {
  margin-right: 40px;
}

.header .link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition-duration: 250ms;
}

.header .link:hover,
.header .link:focus {
  color: #ff6c00;
}

.logo {
  margin-right: 70px;
  animation-duration: 500ms;
  animation-iteration-count: 4;
}

.header .address {
  margin-left: auto;
  margin-right: 50px;
}

.telephone {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.button {
  margin-right: 55px;
}

.modal-open-btn,
.form-submit-btn {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;

  transition-duration: 250ms;
}

.modal-open-btn-light,
.form-submit-btn {
  color: #ffffff;
}

.modal-open-btn-dark {
  color: #303030;
}

.modal-open-btn-dark:hover,
.modal-open-btn-dark:focus {
  color: #ffffff;
}

.modal-open-btn:hover,
.modal-open-btn:focus,
.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #ff6c00;
  cursor: pointer;
}

/*=== /Шапка сайта ===*/

/*=== Баннер ===*/
.top {
  /* position: relative; */
  /* background-color: blue; */
}

.top .container {
  display: flex;
}

.top-left {
  display: flex;
  align-items: flex-end;
  width: 100px;
  height: 680px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  padding-left: 27px;
  padding-bottom: 40px;

  color: #303030;
}

.top-left .networks-list {
  display: flex;
  align-items: center;

  transform: rotate(-90deg);
  transform-origin: left top;
}

.top-left .networks-list .social-network:not(last-child),
.footer-networks-list .social-network:not(last-child) {
  margin-right: 40px;
}

.networks-list .link {
  color: inherit;
}

.networks-list::before,
.footer-networks-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  left: 0;
  top: 0;
  flex-shrink: 0;
  margin-right: 40px;
  background-color: #303030;
}

.top-right {
  flex-grow: 1;
  padding-top: 272px;
  padding-right: 525;
  padding-bottom: 206px;
  padding-left: 100px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/Slider-1.jpg);
  background-repeat: no-repeat;
  width: 1125px;
}

/* .top-left .link {
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
} */

.networks-list .social-network:hover,
.networks-list .social-network:focus {
  color: #ff6c00;
  transition-duration: 250ms;
}

.subtitle-light {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.subtitle::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  left: 0;
  top: 0;
  margin-right: 20px;
  background-color: #303030;
  /* flex-shrink: 0; */
}

.subtitle-light::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.description-light {
  color: #9da4bd;
}

.description-dark {
  columns: #555555;
  margin-bottom: 20px;
}

.main-title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}
/*=== /Баннер ===*/

/*=== О нас ===*/

.about .container {
  display: flex;
}

.images {
  margin-right: 64px;
}

.images-list {
  display: flex;
}

.images-list .image:not(last-child) {
  margin-right: 30px;
}

.description-about-us {
  margin-bottom: 40px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: #555555;
}
/*=== /О нас ===*/

/*=== Услуги и цены ===*/
.services {
  background-color: #111319;
  background-image: url(../img/bg-services.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.service-prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.price-list {
  width: 50%;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 30px 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

.price-list-left {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list-right {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-item {
  display: flex;
  /* justify-content: space-between; */
  width: 585px;
  margin-bottom: 20px;
}

/*=== /Услуги и цены===*/

/*=== Преимущества ===*/
.advantages {
  display: flex;
}

.statistics {
  margin-right: 130px;
}

.statistic-list {
  display: flex;
  flex-wrap: wrap;
}

.statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 24px;
  /* margin-bottom: 30px; */
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
}

.statistic-item:not(:nth-child(2)) {
  margin-right: 30px;
}

.statistic-item:not(:nth-child(2)) {
  margin-bottom: 30px;
}

/* .advantage-item:nth-child(3n + 1) {
  margin-bottom: 30px;
} */

.statistic-item:nth-child(2n + 2) {
  margin-top: 30px;
}

.statistic-number {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.statistic-more {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
}

.statistic-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}

.advantages-description {
  margin-left: 130px;
}

/*=== /Преимущества===*/

/*=== Наши мастера ===*/
.our-masters {
  background-color: #f7f7f7;
}
.masters-list {
  display: flex;
}

.master-card:not(last-child) {
  margin-right: 30px;
}

.master-foto {
  margin-bottom: 30px;
}

.master-name {
  margin-bottom: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
}

.master-specialization {
  margin-bottom: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ff6c00;
}

.social-network-list {
  display: flex;
  justify-content: center;
  color: #303030;
}

.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-network-link:not(last-child) {
  margin-right: 10px;
}

.social-network-link:hover .social-icon,
.social-network-link:focus .social-icon {
  fill: #ff6c00;
}

/*=== /Наши мастера ===*/

/*=== Галерея ===*/
.gallery-fotos {
  display: flex;
}

.gallery-foto:not(las-child) {
  margin-right: 30px;
}
/*=== /Галерея ===*/

/*=== Контаткты ===*/

.contacts .container {
  display: flex;
  background-color: #191c26;
}
.contacts-left {
  width: 50%;
  background-color: #191c26;
  display: flex;
  padding-right: 40px;
  justify-content: flex-end;
  flex-direction: column;
}

.contacts-left .form {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input,
.form-comment {
  background: none;
  border: none;
  padding: 8px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.form-input:focus,
.form-comment:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
}

.form-input::placeholder,
.form-comment::placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.form-input:focus::placeholder,
.form-comment:focus::placeholder {
  color: #ffffff;
}

.form-input-name,
.form-input-tel {
  /* display: block; */
  width: 50%;
}

.form-comment {
  width: 100%;
  margin: 44px 0;
  resize: none;
  height: 90px;
}

.contacts-right {
  width: 50%;
  padding: 130px 100px;
  background-image: url(../img/Bg-contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*=== /Контакты===*/

/*=== Футер ===*/
.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 55px;
}

.footer-networks-list {
  display: flex;
  align-items: flex-end;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  padding-left: 27px;
  padding-bottom: 40px;

  color: #303030;
}
/*=== /Футер ===*/

/*=== Модалка ===*/
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  /* z-index: 2; */

  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-time) var(--timing-function);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform var(--animation-time) var(--timing-function);

  /* z-index: ; */
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 50%;
  background: var(#ffffff);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* outline: none; */
  transition: fill var(--animation-time) var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  fill: #ff6c00;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-input,
.modal-form-comment {
  display: block;
  width: 100%;
}

.modal-form label {
  margin-bottom: 4px;
}

.modal-form-submit-btn {
  align-self: center;
  padding: 10px 55px;
  cursor: pointer;
  transform: opacity 250ms linear;
}

.modal-form-submit-btn:hover {
  opacity: 0.8;
}

.label-checkbox {
  /* display: flex; */
}

.input-wrapper {
  position: relative;
  display: block;
}

/* .input-wrapper::before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.input-wrapper:hover::before {
  fill: blue;
}

.modal-form-label-name .input-wrapper::before {
  background-image: url(../img/person-black-18dp\ 1.svg);
} */

.label-checkbox {
  position: relative;
  padding-left: 10px;
}

.checkbox-text::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  outline: 1px solid #000000;
  background-origin: padding-box;
}

.modal-checkbox:checked + .checkbox-text::before {
  background-color: blue;
  border: 4px solid #ffffff;
}

.modal-checkbox {
  appearance: none;
}

/*=== /Модалка ===*/
