:root {
  // /* Цвета */
  --color-white: #ffffff;
  --color-orange: #ff6c00;
  --color-grey: #9da4bd;
  --color-transparent-grey: rgba(157, 164, 189, 0.6);
  --color-black: #303030;
  --color-second-black: #191c26;
  --color-dark-grey: #555555;
  --color-light-grey: #f7f7f7;

  // /* Переменные */
  --accent-color: var(--color-orange);
  --title-color: var(--color-black);
  --text-color: var(--color-dark-grey);
  --second-text-color: var(--color-grey);
  --background-color: var(--color-second-black);
  --second-background-color: var(--color-light-grey);

  // /* Шрифты */

  --main-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}
/* Палитра */

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
