.title-light {
  margin-bottom: 44px;
  color: var(--color-white);
}

.subtitle-light {
  margin-bottom: var(--margin-s);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-grey-transparent-color);
  &::before {
    background-color: var(--text-grey-transparent-color);
  }
}

.subtitle-white {
  color: var(--color-white);
}

.description-light {
  color: var(--second-text-color);
}

.modal-open-btn-light {
  color: var(--color-white);
}
