.title-light {
  margin-bottom: 44px;
  color: var(--color-white);
}

.subtitle-light {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  &::before {
    background-color: rgba(157, 164, 189, 0.6);
  }
}

.subtitle-white {
  color: var(--color-white);
}

.description-light {
  color: var(--second-text-color);
}

.modal-open-btn-light {
  color: var(--color-white);
}
