.advantages {
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.statistics {
  @media screen and (min-width: $tablet) {
    width: 450px;
    margin-left: auto;
  }
}

.statistic-list {
  display: flex;
  flex-wrap: wrap;
}

.statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 24px;

  flex-basis: calc((100% - 2 * var(--margin-m)) / 2);

  height: 133px;
  background-color: var(--second-background-color);

  &:not(:nth-child(2)) {
    margin-right: var(--margin-m);
  }

  &:not(:nth-child(2)) {
    margin-bottom: var(--margin-m);
  }
  &:nth-child(2n + 2) {
    margin-top: var(--margin-m);
  }
}

.statistic-number {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.statistic-more {
  position: absolute;
  top: 5px;

  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-color);
}

.statistic-description {
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--title-color);
}

.advantages-description {
  margin-bottom: 44px;
  @media screen and (min-width: $tablet) {
    width: 500px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}
