.contacts-left {
  padding-bottom: 84px;
  padding-top: 84px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 130px;
    padding-bottom: 130px;

    padding-right: 40px;
  }
}

.form-contacts {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.form-input {
  width: 100%;
  margin-bottom: 44px;
  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}

.form-input-name {
  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.form-input-tel {
  @media screen and (min-width: $desktop) {
    width: 260px;
  }
}

.form-comment {
  width: 100%;

  resize: none;

  height: 90px;
}

.form-submit-btn {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
}
