.booking {
  background-color: #191c26;
}
.contacts-left {
  //   // width: 50%;
  //   // background-color: #191c26;
  //   display: flex;

  //   // justify-content: flex-end;
  //   // padding-right: 40px;
  //   // justify-content: flex-end;
  //   flex-direction: column;
  // @media screen and (min-width: $desktop) {
  //   padding-right: 40px;
  // }
  //   // .form {
  //   //   width: 560px;
  //   //   display: flex;
  //   //   justify-content: space-between;
  //   //   align-items: flex-start;
  //   //   flex-wrap: wrap;
  //   // }
}

// .form {
//   width: 560px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
//   flex-wrap: wrap;
// }

// .form-input,
// .form-comment {
//   background: none;
//   border: none;
//   padding: 8px 0;
//   font-family: Open Sans;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 11px;
//   line-height: 1.364;
//   letter-spacing: 0.1em;
//   color: #ffffff;
//   border-bottom: 1px solid rgba(157, 164, 189, 0.4);
// }

// .form-input:focus,
// .form-comment:focus {
//   outline: none;
//   border-bottom: 1px solid #ffffff;
// }

// .form-input::placeholder,
// .form-comment::placeholder {
//   color: rgba(157, 164, 189, 0.4);
//   text-transform: uppercase;
// }

// .form-input:focus::placeholder,
// .form-comment:focus::placeholder {
//   color: #ffffff;
// }

.form-contacts {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.form-input {
  width: 100%;
  margin-bottom: 44px;
  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}

.form-input-name {
  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
    // display: inline-block;
  }
}

.form-input-tel {
  @media screen and (min-width: $desktop) {
    width: 260px;
    // display: inline-block;
  }
}

.form-comment {
  width: 100%;
  // margin: 44px 0;
  resize: none;
  // height: 60px;
  // @media screen and (min-width: $desktop) {
  height: 90px;
  // }
}

.form-submit-btn {
  // display: inline-block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
}
