.contacts {
  background-color: #191c26;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.contacts-left,
.contacts-right {
  width: 50%;
}

.contacts-left {
  // width: 50%;
  // background-color: #191c26;
  display: flex;

  // justify-content: flex-end;
  padding-right: 40px;
  // padding-right: 40px;
  // justify-content: flex-end;
  flex-direction: column;

  // .form {
  //   width: 560px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-start;
  //   flex-wrap: wrap;
  // }
}

// .form {
//   width: 560px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
//   flex-wrap: wrap;
// }

// .form-input,
// .form-comment {
//   background: none;
//   border: none;
//   padding: 8px 0;
//   font-family: Open Sans;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 11px;
//   line-height: 1.364;
//   letter-spacing: 0.1em;
//   color: #ffffff;
//   border-bottom: 1px solid rgba(157, 164, 189, 0.4);
// }

// .form-input:focus,
// .form-comment:focus {
//   outline: none;
//   border-bottom: 1px solid #ffffff;
// }

// .form-input::placeholder,
// .form-comment::placeholder {
//   color: rgba(157, 164, 189, 0.4);
//   text-transform: uppercase;
// }

// .form-input:focus::placeholder,
// .form-comment:focus::placeholder {
//   color: #ffffff;
// }

.form-input-name {
  width: 270px;
  // display: inline-block;
}

.form-input-tel {
  width: 260px;
  // display: inline-block;
}

.form-comment {
  width: 100%;
  // margin: 44px 0;
  resize: none;
  height: 90px;
}

.contacts-right {
  width: 50%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
  padding: 130px 100px;
  background-image: url(../img/Bg-contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-link {
  color: #9da4bd;
}

.footer-contact-list .footer-contact:not(:last-child) {
  margin-bottom: 20px;
}

.footer-contact-list {
  margin-bottom: 70px;
}
