.header {
  position: absolute;
  /* top: 0;
  left: 50%;
  transition: translate (-50%, 0); */
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .menu {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.header .menu-list {
  margin-bottom: 64px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    display: flex;
  }
}

.menu-list .menu-link:not(:last-child) {
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.header .link {
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #303030;
  transition-duration: 250ms;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
  }
  &:hover,
  &:focus {
    color: #ff6c00;
  }
  @media screen and (min-width: $tablet) {
    color: #ffffff;
  }
}

.header .address {
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: 50px;
  }
}

.header .button {
  margin-bottom: 64px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.header .mobile-network-list .network-item {
  margin-bottom: 24px;
}

.telephone {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.mobile-menu .mobile-network-list {
  display: block;
  text-align: right;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-menu {
  @media screen and (max-width: $tablet - 1) {
    min-height: 796px;
    width: 337px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    background-color: #ffffff;

    text-align: start;
    padding: 118px 40px;

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    z-index: 99;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn.menu-btn {
  background-color: transparent;
  // outline: none;
  border: transparent;
  z-index: 999;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &.is-open .btn-close-menu {
    display: block;
  }
  &.is-open .btn-mobile-menu {
    display: none;
  }
}

.btn-close-menu {
  display: none;
}
