.header {
  position: absolute;

  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    top: 0;
    left: 25px;
    transition: translate (-50%, 0);
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .menu {
  @media screen and (min-width: $tablet) {
    display: flex;

    justify-content: center;
  }
}

.header .menu-list {
  margin-bottom: 64px;
  @media screen and (min-width: $tablet) {
    padding-top: 12px;
    margin-bottom: 0;
    display: flex;
    margin-left: 24px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: var(--margin-l);
  }
}

.menu-list .menu-link:not(:last-child) {
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    margin-right: 24px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-right: var(--margin-l);
  }
}

.header .link {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-color);
  transition-duration: 250ms;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: $tablet) {
    color: var(--color-white);
  }
}

.mobile-network-list .network-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-network-list .network-item:last-child {
  margin-left: 100px;
}

.telephone {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--color-white);
}

.mobile-menu .mobile-network-list {
  display: flex;

  flex-wrap: wrap;
  align-items: baseline;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-network-list .network-item {
  display: flex;
}

.mobile-menu {
  @media screen and (max-width: $tablet - 1) {
    min-height: 796px;
    width: 337px;

    background-color: var(--color-white);

    text-align: start;

    padding-top: 118px;
    padding-left: 40px;

    padding-right: 40px;

    display: none;
    position: absolute;
    top: 0;

    right: 0;

    z-index: 99;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;

    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
  }
}

.btn.menu-btn {
  background-color: transparent;

  border: transparent;
  z-index: 999;
  fill: var(--color-white);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &.is-open .btn-close-menu {
    display: block;
    fill: var(--title-color);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  &.is-open .btn-mobile-menu {
    display: none;
  }
}

.btn-close-menu {
  display: none;
}

.header .container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.mobile-menu .button-primary {
  @media screen and (max-width: $tablet - 1) {
    color: var(--title-color);
    min-width: 194px;
    &:hover,
    &:focus {
      color: var(--color-white);
    }
  }
}

.header .mobile-network-list .link {
  font-size: 14px;
  line-height: 1.36;

  letter-spacing: 0.2em;
}

.header-contacts {
  & .address {
    margin-bottom: 24px;
  }
  margin-bottom: 64px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    & .button {
      margin-bottom: var(--margin-s);
    }
    & .address {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;

    & .address {
      margin-right: var(--margin-l);
    }
    & .button {
      margin-bottom: 0;
    }
  }
}

.header .link-logo {
  @media screen and (min-width: $tablet) {
    width: 69px;
    margin-right: var(--margin-l);
    align-self: flex-start;
  }
}
