.our-masters {
  background-color: var(--second-background-color);
}

.masters-list {
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-m));
    margin-bottom: calc(-1 * var(--margin-m));
  }
}

.master-card {
  margin-bottom: 64px;
  flex-basis: 100%;
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - var(--margin-m));
    margin-left: var(--margin-m);
    margin-bottom: 0;
  }
  .master-foto {
    margin-bottom: var(--margin-m);
  }
  .master-name {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;

    color: var(--title-color);
  }
  .master-specialization {
    margin-bottom: var(--margin-m);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.38;
    text-align: center;

    color: var(--accent-color);
  }
}
