.form-contact-us {
  // @media screen and (min-width: $tablet) {
  display: flex;
  flex-direction: column;
  // }
  .form-input,
  .form-comment {
    background: none;
    border: none;
    padding: 8px 0;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    color: var(--color-white);
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  }

  .form-input:focus,
  .form-comment:focus {
    outline: none;
    border-bottom: 1px solid var(--color-white);
  }

  .form-input::placeholder,
  .form-comment::placeholder {
    color: rgba(157, 164, 189, 0.4);
    text-transform: uppercase;
  }

  .form-input:focus::placeholder,
  .form-comment:focus::placeholder {
    color: var(--color-white);
  }

  // .form-input-name,
  // .form-input-tel {
  //   /* display: block; */
  //   width: 50%;
  // }

  & .form-comment {
    width: 100%;
    // margin: 44px 0;
    resize: none;
    height: 90px;
  }

  // .form-submit-btn {
  //   min-width: 160px;
  //   height: 40px;
  //   padding: 12px 20px;
  //   border: 1px solid var(--accent-color);
  //   border-radius: 25px;

  //   font-family: "var(--main-font-family)", sans-serif;
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 12px;
  //   line-height: 1.333;
  //   letter-spacing: 0.09em;
  //   text-transform: uppercase;
  //   color: var(--color-white);
  //   background-color: transparent;

  //   transition-duration: 250ms;
  // }

  // .form-submit-btn {
  //   color: var(--color-white);
  // }

  // .form-submit-btn:hover,
  // .form-submit-btn:focus {
  //   background-color: var(--accent-color);
  //   cursor: pointer;
  // }
}
