.form-contact-us {
  display: flex;
  flex-direction: column;

  .form-input,
  .form-comment {
    background: none;
    border: none;
    padding: 8px 0;
    font-family: var(--main-font-family);
    // font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    color: var(--color-white);
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  }

  .form-input:focus,
  .form-comment:focus {
    outline: none;
    border-bottom: 1px solid var(--color-white);
  }

  .form-input::placeholder,
  .form-comment::placeholder {
    color: rgba(157, 164, 189, 0.4);
    text-transform: uppercase;
  }

  .form-input:focus::placeholder,
  .form-comment:focus::placeholder {
    color: var(--color-white);
  }

  & .form-comment {
    width: 100%;
    resize: none;
    height: 90px;
  }
}
