.logo {
  width: 69px;
  height: 56px;

  animation-duration: 500ms;
  animation-iteration-count: 4;

  &-inverse {
    @media screen and (max-width: $tablet - 1) {
      fill: var(--color-white);
    }
  }
}
