.top-left .networks-list {
  display: flex;
  align-items: center;

  transform: rotate(-90deg);
  transform-origin: left top;
}

.top-left .networks-list .network-item:not(:last-child) {
  margin-right: var(--margin-l);
}

.networks-list .link {
  color: inherit;
}

.social-network:hover,
.social-network:focus {
  color: var(--accent-color);
}

.networks-list::before,
.mobile-network-list::before,
.footer-networks-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  left: 0;
  top: 0;

  margin-right: var(--margin-l);
  background-color: var(--title-color);
}

.social-network-list {
  display: flex;
  justify-content: center;
  color: var(--title-color);
}

.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-network-link:hover .social-icon,
.social-network-link:focus .social-icon {
  fill: var(--accent-color);
}
