.top-left .networks-list {
  display: flex;
  align-items: center;

  transform: rotate(-90deg);
  transform-origin: left top;
}

.top-left .networks-list .network-item:not(:last-child)
// .footer-networks-list .social-network:first-child
{
  margin-right: 40px;
}

.networks-list .link {
  color: inherit;
}

.social-network:hover,
.social-network:focus {
  color: #ff6c00;
}

.networks-list::before,
.mobile-network-list::before,
.footer-networks-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  left: 0;
  top: 0;
  flex-shrink: 0;
  margin-right: 40px;
  background-color: #303030;
  // flex-wrap: wrap;
}

.social-network-list {
  display: flex;
  justify-content: center;
  color: #303030;
}

.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  &:not(last-child) {
    margin-right: 10px;
  }
}

.social-network-link:hover .social-icon,
.social-network-link:focus .social-icon {
  fill: #ff6c00;
}
