* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.67;
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.mb-title-left {
  margin-bottom: 44px;
}

.mb-title-right {
  margin-bottom: var(--margin-s);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
  text-align: left;
}

.title-tablet {
  font-size: 28px;
  @media screen and (min-width: $desktop) {
    font-size: 42px;
  }
}

.title-center {
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
  @media screen and (min-width: $mobile) {
    max-width: $mobile;
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.address {
  font-style: normal;
  color: var(--second-text-color);
}

.section {
  padding: 84px 0;
  @media screen and (min-width: $tablet) {
    padding: 100px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 130px 0;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-s);
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);

  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    left: 0;
    top: 0;
    margin-right: var(--margin-s);
    background-color: var(--title-color);
  }
  &-mobile-line-break {
    @media screen and (max-width: $tablet - 1) {
      line-height: 1.91;
    }
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;

  color: var(--second-text-color);
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
