* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  color: #555555;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.mb-title-left {
  margin-bottom: 44px;
}

.mb-title-right {
  margin-bottom: 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
  text-align: left;
  &-tablet {
    @media screen and (max-width: 767px) {
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 0.05em;

      color: #303030;
    }
  }
  &-center {
    text-align: center;
    @media screen and (min-width: $tablet) {
      text-align: start;
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    width: 100%;
    padding-left: 39px;
    padding-right: 39px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
}
// .container {
//   padding: 0 31px;
//   width: 480px;
//   margin: 0 auto;
//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//   }
// }

.address {
  font-style: normal;
  color: #9da4bd;
}

.section {
  padding: 84px 0;
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 130px 0;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;

  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    left: 0;
    top: 0;
    margin-right: 20px;
    background-color: #303030;
    /* flex-shrink: 0; */
  }
  &-mobile-line-break {
    @media screen and (max-width: 767px) {
      line-height: 1.91;
    }
  }
}

.description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;

  color: #9da4bd;
  @media screen and (min-width: 1200px) {
    // font-family: Open Sans;
    // font-style: normal;
    // font-weight: normal;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
}
